@import 'style.css';
@import url("https://fonts.googleapis.com/css2?family=Metal&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200&display=swap");
.alumini{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}
.head{
    padding: 3rem;
    color: #001e6c;
    font-family: 'Roboto Condensed',sans-serif;
}
.box-e,.box-o{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    /* position: relative; */
    /* width: 45rem; */
    /* height: 10rem; */
    /* top: 0em;
    right: 0em;
    bottom: 0em;
    left:8em; */
    padding: 2rem;
    margin: 1rem;
    box-shadow: #001e6c  2px 2px 2px 2px;
    border-radius: 2rem;
}
.box-ee{
    padding-left: 3rem;
    padding-right: 19rem;
}
.box-oo{
    padding-left: 19rem;
    padding-right: 3rem;
}
.box img{
    padding: 1rem 2rem ;
}
.text h2{
    color: #FFAA4C;
    font-family:'metal', cursive ;
}
.text h3{
    color:#001e6c ;
    font-family: 'poppins',sans-serif;
    line-height: 1.5rem;
}
@media screen and (max-width:1130px){
    .alumini{
        display: flex;
        flex-direction: column;
    }
    .review {
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box-ee,.box-oo{
        padding-left: auto ;
        padding-right: auto;
        margin: auto;
    }
    .box-o,.box-e{
        width: auto;
        margin: auto;
    }
}